body {
    font-family: "Roboto", sans-serif;
    background: #36517d;
}

.highlight {
    color: blue;
}

.single-offer {
    width: "370" height "294";
}

.example-offer-name {
    color: #36517d;
}
