body {
    font-family: "Roboto", sans-serif;
    background: #cad1dc;
}

.filter .selector:hover,
.selector:focus{
    cursor: pointer;
    color:blue;
}

.contact:hover,
.contact:focus {
    color: blue;
}


.single-offer 
{width="370"
height="294"}